<label>Image Title</label>
<input required type="text" name="imageTitle" value="<%= cat.imageTitle %>">
<label>Image Url</label>
<input required type="text" name="imageUrl" value="<%= cat.imageUrl %>">
<label>Breed</label>
<input type="text" name="breed" value="<%= cat.breed %>">
<label>Short Description</label>
<input required type="text" name="shortDescription" value="<%= cat.shortDescription %>">
<label>Long Description</label>
<input type="text" name="longDescription" value="<%= cat.longDescription %>">

