<h2 class="page-header"><%= cat.imageTitle %></h2>
<div class="cat-details-container">
    <div class="cat-details-image">
        <img src="<%= cat.imageUrl %>" alt="" width="600">
        <%- include("../partials/favorite_button.ejs", {cat: cat}) %>
        <%- include("../partials/admin_buttons.ejs", {cat: cat}) %>
    </div>    
    <div class="cat-details">
        <% if (locals.cat.breed) { %>
            <div class="cat-details-label">Breed: </div>
            <div><%= cat.breed %></div>
        <% } %>
        <div class="cat-details-label">Short Description: </div>
        <div><%= cat.shortDescription %></div>

        <% if (locals.cat.longDescription) { %>
            <div class="cat-details-label">Full Description: </div>
            <div><%= cat.longDescription %></div>
        <% } %>
    
    </div>
</div>